# ENV
.env
.venv

# .NET
bin/
obj/

# Node / Next.js
node_modules/
.next/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Ignorar yml de bases de datos locales (no el docker-compose raíz)
DataBase/docker-compose.yml

# datasets
.csv
.xlsx

**/__pycache__/
# Python cache
*_pycache__/

Entorno virtual
*venv2/ 
# datasets
*.csv
*.xlsx


# MLflow
mlruns/
*.pkl
.pkl
mlflow.db 

ANALISIS_CUMPLIMIENTO.md

AI/rag/documents

CSV_UPLOAD_ENDPOINT.md
AI/data/documents

